.bg-teal{
    background-color: teal;
}

.text-teal{
    color: teal;
}

/* .navbar-expand-lg .navbar-nav .nav-link , .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color:white;
} */

.bg-purple{
    background: linear-gradient(45deg, darkslategray, purple);
}